{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>Мої рейси</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>Номер</td>
    <td>Марка автобуса</td>
    <td>Звідки</td>
    <td>Куди</td>
    <td>Кількість місць</td>
    <td>Ціна</td>
    <td>Дата</td>
    <td>Час відправлення</td>
    <td>Статус</td>


    </thead>

    {% for row in book_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>


    </tr>
    {% endfor %}
</table>
<form action="{% url 'cancellings' %}" method="post">
    <h3>Скасування рейсу</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label"></label>
        <div class="col-5">
            <input name='bus_id' class="form-control" type="number" id="example-email-input" placeholder="Введіть номер">
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">Скасувати</button>
    </div>


    {{error}}

</form>

{% endblock %}